name: tns_mobile_app
description: "Mobile Client for TNS"

publish_to: 'none' # Don't publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  http: ^1.1.0
  image_picker: ^1.0.4
  shared_preferences: ^2.2.2
  # cupertino_icons: ^1.0.8
  salomon_bottom_bar: ^3.3.2
  firebase_core: ^3.1.1
  firebase_messaging: ^15.0.2
  flutter_local_notifications: ^19.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"

flutter:
  uses-material-design: true
